.box {
  height: 210px;
  width: 210px;
  border: 2px solid black;
}
.yellow .box {
  background-color: Yellow;
}

.orange .box {
  background-color: Orange;
}

.blue .box {
  background-color: Blue;
}

.pink .box {
  background-color: Pink;
}
