p {
  color: navy;
  font-weight: 700;
  font-size: larger;
  text-transform: capitalize;
}

.city-list li {
  background-color: greenyellow;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  background-color: navy;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
